@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@layer base {
  .message_bubble {
    @apply w-fit;
    @apply max-w-[80%];
    @apply break-words;
    @apply m-1;
    @apply px-1;
    @apply rounded-sm;
    /*border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);*/
  }
  
  .other_message {
    @apply bg-[#ebebeb];
    @apply mr-auto;
  }
  
  .self_message {
    background: linear-gradient(30deg, #bec2ee, #a3f8ed);
    @apply ml-auto;
    @apply rounded-sm;
    /* border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad); */
  }

  /**
   * apply this to ONE AND ONLY ONE child of a flex-col container 
   * to make it grow and shrink to fill up the remainder
   * vertical space of the contianer 
   */
  .flex-fill-v {
    /** if omitted, will overflow container if content height is big.
     * See: https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size 
     */
    @apply min-h-0;
    @apply flex-1;
  }
}
